*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

.fixed{
  width: 100%;
  height: 80px;
  background-color: #f5f8fa;
  border-bottom: 1px solid #cbd6e2;
  clear: both;
  content: "";
  display: table;
}

.contenuto_nav{
  width: 85%;
  margin: 0 auto;
  height: 80px;
}

.fixed span .fas::before{
  padding: 0px 10px 0px 0px;
  font-size: 15px;
}

.fixed span{
  display: block;
  float: left;
  border-right: 2px solid #cbd6e2;
  margin-top: 25px;
  padding: 5px;
}

.triangolo{
  color:#7c98b6;
}

#contact{
  border-right: none;
  margin-left: 10px;
}

.contenuto_nav ul li{
  float: right;
  display: inline-block;
  margin-top: 25px;
  padding: 5px;
}

.contenuto_nav a{
  background-color: #ff8f73;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
}

a:hover{
  opacity: 0.9;
}

#log_in{
  background-color: white;
  color: #ff8f73;
  border: 1px solid #ff8f73;
}

.lente{
  margin-right: 20px;
  color:#5ac9c9;
}

.no_fixed{
  clear: both;
  content: "";
  display: table;
  width: 85%;
  margin: 0 auto;
  height: 80px;
}

.img_logo{
  float: left;
  margin-top: 25px;
}

#menu{
  float: right;
}

.no_fixed ul li{
  float: right;
  display: inline-block;
  margin-top: 25px;
  padding: 5px;
}

#menu li{
  margin-left: 35px;
}

#menu i{
  color:#7c98b6;
  font-size: 20px;
  padding:5px;
}

.triangolo_menu_hide{
  font-size: 20px;
  padding:5px;
  color:white !important;

}

.first{
  background-image: linear-gradient(to top right, #425b76, #0091b0, #00a4bd, #7fd1de);
  width: 100%;
  height: 600px;
  border-bottom: 3px solid #33475b;
}

.content{
  width: 85%;
  margin:0 auto;
}

.content_first{
  color:white;
  float:left;
  width: 50%;
  margin-top: 50px;
}

.content_first h1{
  font-size: 60px;
  margin: 20px 0px;
}

.content_first p{
  font-size: 20px;
  margin: 16px 0px;
}

.p_small{
  width: 200px;
}

.p_small p{
  font-size: 13px;
}

#a_first{
background-color: white;
color: black;
border-radius: 5px;
text-decoration: none;
padding: 26px 48px;
display: inline-block;
}

.second{
  text-align: center;
  margin-bottom: 150px;
}

.logo_text{
  width: 70%;
  margin: 0 auto;
}

.logo_text>img{
  width: 260px;
  height: 194px;
  margin-top: 100px;
}

.logo_text>h2{
  padding-bottom: 20px;
  font-size: 35px;
}

.logo_text>p{
  font-size: 20px;
  padding-bottom: 50px;
}

.home_card{
  width: 75%;
  margin:0 auto;
  padding: 32px;
  background-color: white;
  clear: both;
  content: "";
  display: table;
  box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
}

.content_img{
  width: 400px;
  text-align: center;
  float: left;
  padding: 0px 80px;
}

.content_img>img{
  width: 206px;
  height: 150px;
  text-align: center;
}

.content_img>a{
  text-align: center;
  display: inline-block;
  margin-top: 20px;
}

.text_icon{
  width: 50%;
  float: left;
  text-align: left;
}

.text_icon>h4{
  font-size: 20px;
  margin: 11px 0px;
}

.text_icon>p{
  font-size: 16px;
  margin: 20px 0px;
}

.text_icon ul li{
  display: inline-block;
  float: left;
  margin-right: 10px;
}

ul .check::before{
  padding-right: 8px;
}

.home_card .text_icon #line::after{
  content: "";
  width: 20%;
  border-bottom: 1px solid #e0e6ed;
  height: 8px;
  position: absolute;
  margin-left: 20px;
}

.second a{
  background-color: #ff8f73;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
}

.check{
  color: #ff8f73;
}

.card{
  width: 75%;
  margin:0 auto;
  padding-top: 30px;
  content:"";
  display: table;
  clear:both;
}

.card_1{
  width: 31%;
  float: left;
  padding: 30px;
  box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
}

.card_2{
  width: 31%;
  float: left;
  margin: 0px 33px;
  padding: 30px;
  box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
}

.card_3{
  width: 31%;
  float: right;
  padding: 30px;
  box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
}

.home_card:hover{
  transform: scale(1.1);
}

.card_1:hover{
  transform: scale(1.1);
}

.card_2:hover{
  transform: scale(1.1);
}

.card_3:hover{
  transform: scale(1.1);
}

.card_1>img{
  width: 233px;
  height: 150px;
}

.card_2>img{
  width: 233px;
  height: 150px;
}

.card_3>img{
  width: 233px;
  height: 150px;
}

.card_1>h1{
  margin: 12px 0px;
}

.card_2>h1{
  margin: 12px 0px;
}

.card_3>h1{
  margin: 12px 0px;
}

.card_1>p{
  margin: 14px 0px 30px;
}

.card_2>p{
  margin: 14px 0px 30px;
}

.card_3>p{
  margin: 14px 0px 30px;
}

.card_1>h5{
  margin: 26px 0px 15px;
}

.card_2>h5{
  margin: 26px 0px 15px;
}

.card_3>h5{
  margin: 26px 0px 15px;
}

.card_1 ul li{
  list-style-type: none;
  padding: 5px;
  text-align: left;
}

.card_2 ul li{
  list-style-type: none;
  padding: 5px;
  text-align: left;
}

.card_3 ul li{
  list-style-type: none;
  padding: 5px;
  text-align: left;
}

.card_1 a{
  display: inline-block;
  margin-top: 20px;
}

.card_2 a{
  display: inline-block;
  margin-top: 20px;
}

.card_3 a{
  display: inline-block;
  margin-top: 20px;
}

.third{
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
  padding: 130px 0px;
}

.third_text{
  width: 65%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.third_text h2{
  color: white;
  text-align: center;
  margin: 0px 20px;
  font-size: 40px;
}

.third_text p{
  color: white;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

.content_grid{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 100px;
  content:"";
  display: table;
  clear: both;
}

.item{
  width: 283px;
  height: 180px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  float: left;
  text-align: center;
  padding: 30px;
}

.item:nth-of-type(n+5){
  border-bottom: none;
}

.item:nth-of-type(4){
  border-right: none;
}

.item:last-child{
  border-right: none;
}

.item h2{
  color:white;
  font-size: 45px;
  padding: 10px;
}

.item h2::after{
  color:white;
  content: "+";
  font-size: 20px;
  position: absolute;
  margin-top: 15px;
}

.item p{
  color:white;
}

.fourth{
  width: 75%;
  margin: 0 auto;
  display: table;
  content: "";
  clear: both;
  margin-top: 100px;
  margin-bottom:250px;
}

.text{
  float: left;
  width: 250px;
  padding: 20px;
  height: 150px;
  margin-right: 100px;
}

.text h2{
  font-size: 40px;
}

.text p{
  font-size: 20px;
}

.logo ul li{
  display: inline-block;
}

.logo ul li img{
  width: 140px;
  height: 60px;
  padding:20px;
}

.five{
  padding: 120px 0px;
  width: 85%;
  margin: 0 auto;
  content:"";
  display: table;
  clear: both;
  border: 1px solid red;
}

.five a{
  background-color: #ff8f73;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
}

.content_five{
  width: 500px;
  float: left;
}

.content_five h2{
  font-size: 35px;
  margin-top: 30px;
}

.content_five p{
font-size: 20px;
margin: 20px 0px;
}

.content_five a{
  display: inline-block;
  padding: 26px 48px;
  font-size: 16px;
  margin: 20px 0px;
}

.content_five .small{
  font-size: 12px;
}

#img_section_five img{
  background-color: #f2547d;
  border-radius: 50%;
  float: right;
  width: 300px;
  height: 400px;
}

 chiedere a fra
#img_section_five img::before{
  content: "url(//cdn2.hubspot.net/hubfs/53/assets/hubspot.com/_style-guide/sword-sprocket/circlesHorizontalPink.svg)";
  position: absolute;
}

footer{
  background-color: #33475b;
  content:"";
  display: table;
  clear: both;
  color:white;
  margin-top: 100px;
  width: 100%;
}

.content_footer{
  width: 80%;
  margin:0 auto;
  margin-top: 80px;
}

.content_footer ul li{
  list-style-type: none;
}

.col_1{
  float: left;
  width: 25%;
}

.icon li{
  display: inline-block;
}

.lingue{
  text-align: center;
}

.lingue li{
  display: inline-block;
}

.logo_footer{
  float: left;
}

.privacy li{
  display: inline-block;
  float: right;
}
